@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.7);
}